{% extends 'base.html.twig' %}

{% block title %}Hello AdminTrickController!{% endblock %}

{% block content %}
<!-- START SECTION ADMIN TRICK -->
<div id="tricks-fix">
   <img class="background-tricks-image"
      src="{{ asset('assets/img/maurienne-depuis-val-thorens-bisc-gudellaphoto-fotolia.com_.jpg') }}"
      style="background-size: cover; position:absolute;" alt="">


   {{ form_start(form) }}
   {{ form_widget(form._token) }}
   <section id="tricks-section" class="admin-trick">
      <div class="content-tricks bg-light">
         <div class="bg-light">


            <div class="tricks-header"
               style="background-image: url('{{ asset("assets/img/a4d6427411fadcacd3ad6e8c601af215.jpg") }}'); background-size: cover;">

               <label for="upload">
                  <div id="preview"></div>
               </label>

               <div class="admin-edit float-left">
                  <label for="create_trick_image_card" style="cursor:pointer;"><i class="far fa-image"></i></label>
               </div>

               <div class="tricks-title w-100 h-100 d-flex justify-content-center">
                  <span class="align-self-center h1 fw-bold text-light"
                     style="text-shadow: 1px 1px 2px white, 0 0 1em rgb(15, 146, 207), 0 0 0.2em black; font-size:3em; z-index:9999;">Trick
                     Name :<br>{{ form_widget(form.title) }}</span>
               </div>

            </div>

            
            <div id="upload-image">
               <h2 class="mb-3">Upload Image Card</h2>
               <div class="d-flex justify-content-center flex-column flex-wrap w-100">

                  {{ form_widget(form.image_card) }}
                  <label for="create_trick_image_card" class="btn" class="text-center">Upload File</label><br>
                  <small>(.jpg, .jpeg, .gif, .png).</small><br>

               </div>
            </div>

            <hr style="background-color: grey;">

            <article class='trick-article-content'>
               <h2>Content</h2>
               {{ form_widget(form.content) }}
            </article>

            <hr style="background-color: grey;">

            <div id="select-category">
               <h2>Select Category</h2>
               <div class="d-flex justify-content-center flex-column flex-wrap w-100">

                  {{ form_widget(form.category) }}
                  <small>(click here for select category).</small>
               </div>
            </div>

            <hr style="background-color: grey;">

            <div id="upload-image">
               <h2 class="mb-3">Add images</h2>
               <div class="d-flex justify-content-center flex-column flex-wrap w-100">

                  {{ form_widget(form.images) }}
                  <label for="create_trick_images" class="btn" class="text-center">Upload File</label><br>
                  <small>(.jpg, .jpeg, .gif, .png).</small><br>

               </div>
            </div>

            <hr style="background-color: grey;">

            <div id="upload-video">
               <h2 class="mb-3">Add videos</h2>
               <div class="d-flex justify-content-center flex-column flex-wrap w-100">
                  <button type="button" id="add-video" onclick="onClickAddElement()" class="btn"
                     class="text-center"> Add video </button>

                  <div id="create_trick_videos"
                     data-prototype="<fieldset class=&quot;form-group&quot;><div id=&quot;create_trick_videos___name__&quot;><div class=&quot;form-group&quot;><label for=&quot;create_trick_videos___name___embed&quot;>Embed</label><textarea id=&quot;create_trick_videos___name___embed&quot; name=&quot;create_trick[videos][__name__][embed]&quot; class=&quot;form-control&quot;></textarea></div></div></fieldset>">
                  </div>

               </div>
            </div>

         </div>

         <div class="d-flex justify-content-center flex-column flex-wrap w-100">
            <input type="submit" value="Submit Trick" class="btn submit-button">
         </div>

   </section>

</div>
<!-- END SECTION ADMIN TRICK -->

{{ form_end(form, {render_rest:false}) }}

{% endblock %}


{% block javascript %}
<script src="{{ asset('assets/js/script.js') }}"></script>
<script src="{{ asset('assets/js/ajax.js') }}"></script>
{% endblock %}
