{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block content %}
<!-- START LOGIN SECTION -->
<section id="login" class="login py-5 mx-auto" data-aos="flip-left">
   <div>
      <h3 class="text-center pb-5">Login</h3>
   </div>
   <form method="post" class="py-3 px-4 mx-4 bg-light">

      <div class="form-group text-center">
         <label for="username" class="py-3">Email</label>
         <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
            placeholder="Enter Email" required autofocus>
      </div>
      <div class="form-group text-center">
         <label for="inputPassword" class="py-3">Password</label>
         <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Enter Password"
            required>
         <small id="passHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
         <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
      </div>

            {#
			        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
			        See https://symfony.com/doc/current/security/remember_me.html
			        <div class="checkbox mb-3">
			            <label>
			                <input type="checkbox" name="_remember_me"> Remember me
			            </label>
			        </div>
			    #}

      <div class="text-center py-3">
         <button type="submit" class="btn d-block mx-auto my-3 d-sm-none">login</button>
         <a class="d-block my-3" href="{{ path('register') }}">Register</a>
         <a class="d-block" href="{{ path('forgot_password') }}">Forgot Password ?</a>
         <button type="submit" class="btn mx-auto my-3 d-sm-block">login</button>
      </div>
   </form>
</section>
<!-- END LOGIN SECTION -->


{% if error %}
<div class="alert alert-danger animate__animated animate__shakeX" role="alert" id="js-alert">
   {{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% endblock %}