{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}
<section class="login py-5 mx-auto" data-aos="flip-left">
    <div>
      <h3 class="text-center pb-5">Login</h3>
    </div>
<form method="post" class="py-3 px-4 mx-4 bg-light">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <div class="text-center"><label for="inputEmail" class="py-3">Email</label></div>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Enter Email" required autofocus>
    <div class="text-center"><label for="inputPassword" class="py-3">Password</label></div>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Enter Password" required>
      <small id="passHelp" class="form-text text-muted">We'll never share your password with anyone else.</small>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

     <div class="text-center py-3">
        <a class="d-block my-3" href="">Register</a>
        <a class="d-block" href="">Forgot Password ?</a>
        <button type="submit" class="btn btn-primary mx-auto my-3 d-sm-block">login</button>
      </div>
</form>
</section>
{% endblock %}

