{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block content %}

{% for trick in tricks %}

<div id="tricks-fix">
   <img class="background-tricks-image"
      src="{{ asset('assets/img/maurienne-depuis-val-thorens-bisc-gudellaphoto-fotolia.com_.jpg') }}"
      style="background-size: cover; position:absolute;" alt="">
   <section id="tricks-section">
      <div class="content-tricks bg-light">
         <div class="bg-light">

            <div class="tricks-header"
               style="background-image: url('{{ asset('uploads/tricks/') }}{{trick.imageCard}}'); background-size: cover;">
               {% if app.user != null %}
               <div class="admin-edit float-left">
                  <a href="/admin/trick/{{ trick.slug }}"><i class="fas fa-pencil-alt"></i></a>
                  <a onclick="openIndexModal('{{ trick.title }}',{{ trick.id }})" data=""
                     style="cursor: pointer; padding-right:5px;" class="fas fa-trash-alt"></a>
               </div>
               {% endif %}
               <div class="tricks-title w-100 h-100 d-flex justify-content-center">
                  <span class="align-self-center text-center h1 fw-bold text-light"
                     style="text-shadow: 1px 1px 2px white, 0 0 1em rgb(15, 146, 207), 0 0 0.2em black; font-size:3em">{{trick.title}}</span>
               </div>
            </div>

            <a data-bs-toggle="collapse" href="#collapsemedia" aria-expanded="false" aria-controls="collapsemedia"
               style="color: red;" class="cross-close">
               <i class="fas fa-times"></i>
            </a>


            {% if images != null and videos != null %}
            <!-- START VIEW MEDIA -->
            <div class="d-flex justify-content-around flex-wrap" id="files-sticks" style="margin-top:0px;">
               <div class="justify-content-around flex-wrap" id="hide">
                  <div class="collapse d-md-block" id="collapsemedia">

                     <div class="d-flex justify-content-around flex-wrap">

                        {% for image in images %}

                        <span data-aos="flip-left" id="media-item">
                           <img src="{{ asset('uploads/images/')}}{{ image.content }}" alt="tricks">
                        </span>


                        {% endfor %}


                        {% for video in videos %}
                        <span data-aos="flip-left" id="media-item">
                           {{ video.embed|raw }}
                        </span>
                        {% endfor %}

                     </div>

                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-around flex-wrap">
               <a class="btn see-media-btn my-3" id="js-btn-see-media" data-bs-toggle="collapse" href="#collapsemedia"
                  role="button" aria-expanded="false" aria-controls="collapsemedia">See
                  media</a>
            </div>
            <!-- END VIEW MEDIA -->
            {% endif %}
            <hr style="background-color: grey;">

            <!-- START ARTICLE CONTENT -->
            <article class='trick-article-content'>
               <h2>How to do the trick ?</h2>
               <p>{{ trick.content }}
               </p>

               <div class="d-flex article-info">
                  <span>Created by : {{ trick.author.firstname }} {{ trick.author.lastname }}</span>
                  <span>Add on {{ trick.createdAt|date("d/m/Y") }}</span>
                  <span>Category : {{ trick.category }}</span>
                  <span><a href="#comment">{{ numberofcomments }} Comments</a></span>
                  {% if trick.edited == 1 %}
                  <span><a onclick="openModalContributor()" style="cursor: pointer;">{{ numberofcontributors }}
                        Contributors</a></span>
                  <span>Edited on {{ trick.editedAt|date("d/m/Y") }}</span>
                  {% endif %}
               </div>

            </article>
            <!-- END ARTICLE CONTENT -->

            <hr style="background-color: grey;">

            <!-- START PUBLISH COMMENT -->
            <div id="create-comment">
               <h2>Publish a Comment </h2>
               {% if app.user %}
               <div class="d-flex justify-content-center flex-column flex-wrap w-100" id="comment-form">

                  {{ form_start(form) }}
                  {{ form_widget(form.content) }}

                  <div class="text-center">
                     <input type="submit" class="btn mt-3" value="Leave a comment">
                  </div>
                  {{ form_end(form) }}

               </div>
               {% else %}
               <div class="need-connect text-center py-3" style="color: #1a1a1a; font-weight: 600;">
                  You must <a href="{{ path('app_login') }}"> login </a> to post a message.
               </div>
               {% endif %}
            </div>
            <!-- END PUBLISH COMMENT -->

            {% if comments != null %}
            <hr style="background-color: grey;">
            <!-- START COMMENTS -->
            <div id="comment" class="py-3">
               <h2 style="color: #1a1a1a; font-weight: 700;">Comments</h2>
               <div id="js-comments-content" class="pt-5">
                  {% for comment in comments %}
                  <div class="comment d-flex justify-content-left align-items-center" id="js-comment"
                     data-aos="flip-left">
                     <span class="user-avatar m-3"><img src="{{ asset('uploads/avatar/') }}{{ comment.user.avatar }}"
                           alt=""></span>
                     <span class="user-comment m-3">{{comment.content}}<br><span class="comment-info"> Created by
                           {{ comment.user.firstname }} on {{ comment.CreatedAt|date("d/m/Y") }}</span>
                     </span>
                  </div>
                  {% endfor %}
               </div>
            </div>

            <div class="py-3 d-flex justify-content-center">
               <div class="py-5 d-flex justify-content-center" id="js-morecomment-btn"><a
                     class="load-more-btn btn-outline-info btn-sm trick-link" onclick="onClickMoreComments()"><img
                        src="{{asset('assets/img/Loading.gif')}}" alt="loading" width="40px" id="js-loading-img"
                        style="display: none;">Load more</a></div>
            </div>
            <!-- END COMMENTS -->
            {% endif %}
         </div>
      </div>

</div>

</section>
{% endfor %}

{% block modale %}


<!-- START MOBAL (VIEW CONTRIBUTOR) -->
<div id="modal-view-contributor"
   style="background-color: #1a1a1a85;  width: 100%; height: 100%; position:fixed; display:none; z-index:99999; padding-top:10%;">
   <div class="d-flex justify-content-center">
      <div id="modal-body" class="bg-light text-center p-5">
         <p class="p-2 modal-content bg-light text-center">
            <h2 class="text-uppercase modal-title">Contributors</h2><br>

            <ul style="list-style: none; padding-left: 0; height:250px; width: 300px; overflow-y: scroll;"
               class="modal-list">
               {% for contributor in contributors %}
               <li class="pt-3"><span class="user-avatar m-3"><img
                        src="{{ asset('uploads/avatar/')}}{{contributor.avatar}}" alt=""></span>
               </li>
               {% endfor %}
            </ul>
            <a onclick="closeModalContributor()" class="m-2 btn btn-sm trick-link">CLOSE</a>
         </p>
      </div>
   </div>
</div>
<!-- END MOBAL (VIEW CONTRIBUTOR) -->

{% endblock %}

{% block modale_delect_trick %}

<!-- START MODALE (REMOVE TRICK) -->
<div id="modal-delect-trick"
   style="background-color: #1a1a1a85;  width: 100%; height: 100%; position:fixed; display:none; z-index:99999; padding-top:25%;">
   <div class="d-flex justify-content-center">
      <div id="modal-body" class="bg-light text-center p-2">
         <a onclick="closeIndexModal()" style="color: red; cursor:pointer;" class="close-modal"><i
               class="fas fa-times"></i></a>
         <p class="p-2 modal-content bg-light">Are your sure to remove the trick: <span id="nom-du-trick"></span></p>
         <a href="#" class="m-2 btn btn-sm trick-link" id="modal-delect-trick-link">YES</a>
         <a onclick="closeIndexModal()" class="m-2 btn btn-sm trick-link" style="cursor: pointer;">NO</a>
      </div>
   </div>
</div>
<!-- END MODALE (REMOVE TRICK) -->

{% endblock %}

{% endblock %}

{% block javascript %}
<script src="{{ asset('assets/js/modale.js') }}"></script>
<script src="{{ asset('assets/js/ajax.js') }}"></script>
{% endblock %}