{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block content %}

{% for trick in tricks %}
<div id="tricks-fix">
    <img class="background-tricks-image"
        src="{{ asset('assets/img/maurienne-depuis-val-thorens-bisc-gudellaphoto-fotolia.com_.jpg') }}"
        style="background-size: cover; position:absolute;" alt="">
    <section id="tricks-section">
        <div class="content-tricks">
            <div class="bg-light">
                <div class="tricks-header"
                    style="background-image: url('{{ asset('uploads/tricks/') }}{{trick.imageCard}}'); background-size: cover; filter: -webkit-box-shadow:inset 0px 0px 55px 0px #04a4d1; -moz-box-shadow:inset 0px 0px 100px 0px #04a4d1; box-shadow:inset 0px 0px 55px 0px #04a4d1;">
                    <div class="admin-edit float-left">
                        <a href=""><i class="fas fa-pencil-alt"></i></a>
                        <a href=""><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <span class="tricks-title w-100 h-100 d-flex justify-content-center">
                        <div class="align-self-center h1 fw-bold text-light text-uppercase"
                            style="text-shadow: 1px 1px 2px white, 0 0 1em rgb(15, 146, 207), 0 0 0.2em black; font-size:3em">
                            {{trick.title}}</div>
                    </span>
                </div>
                <!--croix de fermeture see media (si see media est activé sinon n'est pas affiché)-->
                <a data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample" style="color: red;" class="cross-close"><i
                        class="fas fa-times"></i></a>
                <!--end-->
                <div class="d-flex justify-content-around flex-wrap py-3" id="files-sticks" style="margin-top:0px;">
                    <div class="justify-content-around flex-wrap" id="hide">

                        <div class="collapse d-md-block" id="collapseExample">
                            <div class="d-flex justify-content-around flex-wrap">

                                <span data-aos="flip-left"><img src="ressources/img/stalefish.jpg" alt="tricks">
                                </span>
                                <span data-aos="flip-left"><img src="ressources/img/stalefish.jpg" alt="tricks">
                                </span>
                                <span data-aos="flip-left"><video controls
                                        src="https://www.learningcontainer.com/wp-content/uploads/2020/05/sample-mp4-file.mp4"></video>
                                </span>

                            </div>
                        </div>

                    </div>

                </div>
                <!--bouton en voir plus de media pour version moyen ou petit ecran (caché si see media est activé)-->
                <div class="d-flex justify-content-around flex-wrap">
                    <a class="btn see-media-btn my-3" id="js-btn-see-media" data-bs-toggle="collapse"
                        href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">See
                        media</a>
                </div>
                <!--end-->
                <hr style="background-color: grey;">
                <article>
                    {{ trick.content }}

                    <div class="d-flex article-info">
                        <span>By : {{ trick.author.firstname }} {{ trick.author.lastname }}</span>
                        <span>Add on {{ trick.createdAt|date("d/m/Y") }}</span>
                        <span>Category : {{ trick.category }}</span>
                        <span><a href="#comment">10 Comments</a></span>
                    </div>
                </article>
                <hr style="background-color: grey;">

                <div id="create-comment">
                    <h3 class="text-center d-block pt-2" style="color: rgb(5, 125, 204); font-weight: 600;">Post a Comment</h3>

                    {% if app.user %}
                    <div class="d-flex justify-content-center flex-column flex-wrap py-3" id="comment-form">
                        <form action="#" method="get">
                            <textarea style="max-width: 250px;" name="commentaire" id="commentaire" cols="45"
                                rows="1"></textarea>
                        </form>
                        <center><button type="submit" class="btn mt-3">Leave a comment</button></center>
                    </div>
                    {% else %}
                    
                    <div class="need-connect text-center pb-3" style="color: rgb(5, 125, 204); font-weight: 600;">
                        You must <a href="/login">login</a> to post a message
                    </div>
                    {% endif %}
                    </div>
                <hr style="background-color: grey;">
                <!--IMPORTANT afficher maximum 10 commentaires -->
                <div id="comment" class="py-3">
                    <h3 class="text-center" style="color: rgb(5, 125, 204); font-weight: 600;">Commentaires</h3>

                    <div class="comment d-flex justify-content-center align-items-center" data-aos="flip-left">
                        <span class="user-avatar m-3"><img src="ressources/img/backflip.jpg" alt=""></span>
                        <span class="user-comment m-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            <div class="comment-info"> Créer par Admin le 15/04/21</div>
                        </span>
                    </div>

                    <div class="comment d-flex justify-content-center align-items-center" data-aos="flip-left">
                        <span class="user-avatar m-3"><img src="ressources/img/backflip.jpg" alt=""></span>
                        <span class="user-comment m-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            <div class="comment-info"> Créer par Admin le 15/04/21</div>
                        </span>
                    </div>

                    <div class="comment d-flex justify-content-center align-items-center" data-aos="flip-left">
                        <span class="user-avatar m-3"><img src="ressources/img/backflip.jpg" alt=""></span>
                        <span class="user-comment m-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            <div class="comment-info"> Créer par Admin le 15/04/21</div>
                        </span>
                    </div>

                    <div class="comment d-flex justify-content-center align-items-center" data-aos="flip-left">
                        <span class="user-avatar m-3"><img src="ressources/img/backflip.jpg" alt=""></span>
                        <span class="user-comment m-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            <div class="comment-info"> Créer par Admin le 15/04/21</div>
                        </span>
                    </div>

                    <div class="comment d-flex justify-content-center align-items-center" data-aos="flip-left">
                        <span class="user-avatar m-3"><img src="ressources/img/backflip.jpg" alt=""></span>
                        <span class="user-comment m-3">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            <div class="comment-info"> Créer par Admin le 15/04/21</div>
                        </span>
                    </div>

                    <!--  Bouton voir plus de commentaires (est affiché si il y a plus de 5 commentaires)-->
                    <div class="py-3 d-flex justify-content-center"><a class="load-more-btn btn-outline-info btn-sm trick-link" href="">
                        <img src="{{asset('assets/img/Loading.gif')}}" alt="loading" width="40px" style="display: none;">Load more</a>
                    </div>
                    <!-- end -->
                </div>

            </div>
        </div>

</div>

</section>
{% endfor %}

{% endblock %}